<app-header></app-header>

<section class="what-we-do">
  <div class="container">
    <h2>What We Do</h2>
    <div class="services">
      <div class="service">
        <h3>Help you resolve your query</h3>
        <p>
          You post your query our experts will work on it and try to give you response.
        </p>
      </div>
      <div class="service">
        <h3>Provide you with exposure to experts in the field</h3>
        <p>Our experts are tracked by the admin we get their report so they ensure to give you response.</p>
      </div>
      <div class="service">
        <h3>Extra fast response if you pay for our service</h3>
        <p>
          If you pay we will mark your query as high proprity query and you will get faster response.
        </p>
      </div>
    </div>
  </div>
</section>

<div class="mission">
    <div class="container">
      <h2><br> Our Mission &#64; Capgemini</h2>
      <p>We believe that every error is an opportunity to learn and grow. By providing a platform that connects individuals facing technical issues with experts in the field, we aim to make a community of problem solvers and knowledge seekers.</p>
      <br><br><br>
    </div>
</div>

<br><br><br>
<br><br><br>
<footer class="footer">
    <div class="container">
        <p>Copyright &#64;Capgemini India Developed By pushpraj singh pawar</p>
        <p>Contact number: 9302958459 Email: pushpraj-singh.pawar&#64;capgemini.com</p>
        <p></p>
    </div>
</footer> 